<style>
  body {
    background: linear-gradient(300deg, #c2323c, #ebbebe, #4caf50);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
 }

  @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
</style>


<div class="container view-match my-5">
  <h2 class="title-match text-center mb-5 mt-0">Você tem um match!</h2>

  <div class="row d-flex flex-row justify-content-around mt-3">
    <% @matches.sort_by { |match| -match[:match_data][:score] }.first(1).each do |match| %>

    <div class="col mb-4">
      <div class="card-match mx-auto my-auto">
        <div class="position-relative">
          <% if match[:animal].photo.attached? %>
            <%= cl_image_tag match[:animal].photo.key, width: 320, height: 320, crop: :fill %>
          <% else %>
            <%= image_tag "CRMLO.png", width: 320, height: 320 %>
          <% end %>
        </div>

        <div class="back-caramelo d-flex justify-content-between p-4">
          <div class="animal-preview">
            <h3 class="mb-0"><%= match[:animal].name%></h3>
            <p class="mb-0"><%= match[:animal].city %>/<%= match[:animal].state %></p>
          </div>
          <div class="icons d-flex">
            <%= link_to "<i class=\"fa-solid fa-circle-info\"></i>".html_safe, animal_path(match[:animal].id), class:"info" %>
            <% if current_user.adopter? %>
              <% if current_user.bookmarks.exists?(animal_id: match[:animal].id) %>
                <% bookmark = current_user.bookmarks.find_by(animal_id: match[:animal].id) %>
                <%= button_to "<i class='fa-solid fa-heart red-heart'></i>".html_safe,
                  bookmark_path(bookmark, from_page: "matchs"), method: :delete,
                  style: "background: none; border: none; padding: 0; font: inherit; cursor: pointer;",
                  class: "info ms-1 favorite-button" %>
              <% else %>
                <%= button_to "<i class='fa-solid fa-heart'></i>".html_safe,
                  bookmarks_path(from_page: "matchs"), method: :post, params: { bookmark: { animal_id: match[:animal].id } },
                  style: "background: none; border: none; padding: 0; font: inherit; cursor: pointer;",
                  class: "info ms-1 favorite-button" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

      <% @animal_match = match[:animal].id  %>

    <div class="col-3 mb-6 my-auto">
      <div role="progressbar" aria-valuenow="<%= (match[:match_data][:score].to_f / 6 * 100).round(0) %>" aria-valuemin="0" aria-valuemax="100" style="--value: <%= (match[:match_data][:score].to_f / 6 * 100).round(0) %>" class="my-auto mx-auto"></div>
      <div class="match-btn mx-auto mt-5">
        <%= link_to "Quero adotar", animal_path(@animal_match), class:"btn-dark-green mb-2 match-btn" %>
        <%= link_to "Ver todos os matches", matchs_path, class:"btn-dark-green-outline match-btn" %>
      </div>
    </div>
      <% end %>

    <div class="col mb-4">
      <div class="card-match mx-auto">
        <div class="position-relative">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "user-card", alt: "dropdown menu", height: 320, width: 320 %>
          <% else %>
            <%= image_tag "cat.jpg", class: "user-card", alt: "dropdown menu", height: 320, width: 320 %>
          <% end %>
        </div>
        <div class="back-caramelo d-flex justify-content-between p-4">
          <div class="animal-preview">
            <h3 class="mb-0"><%= current_user.first_name%> <%= current_user.last_name%></h3>
            <p class="mb-0"><%= current_user.city %>/<%= current_user.state %></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
