<%= turbo_stream_from @chatroom %>
<div class="container message-page" data-controller="scroll" data-chatroom-id="<%= @chatroom.id %>">
  <div class="message-box d-flex flex-column justify-content-between">
    <div class="chat-header mb-3">
      <% if current_user == @chatroom.user %>
        <h5 class="name">Conversando com: <%= @chatroom.animal.user.first_name %> <%= @chatroom.animal.user.last_name %></h5>
      <% else %>
        <h5 class="name">Conversando com: <%= @chatroom.user.first_name %> <%= @chatroom.user.last_name %></h5>
      <% end %>
    </div>

    <div class="messages flex-grow-1" id="messages_<%= @chatroom.id %>">
      <%= render partial: "messages/messages", locals: { messages: @chatroom.messages, current_user: current_user } %>
    </div>

    <div class="message-form mt-3">
      <%= simple_form_for [@chatroom, @message], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |f| %>
        <div class="d-flex gap-2">
          <%= f.text_area :content, class: "form-control message-text", placeholder: "Digite sua mensagem..." %>
          <%= f.submit "Enviar", class: "btn btn-primary message-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
