<% if user_signed_in? && current_user.adopter? %>
  <div class="container">
    <div data-controller="show-dashboard">
      <div class="row mx-auto">

         <div class="dash my-5 d-flex flex-row justify-content-between">
          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button-s py-2" id="profile-btn" data-action="click->show-dashboard#profile">
              <div class="card-info">
                <h5>Editar Perfil</h5>
              </div>
            </button>
          </div>

          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button py-2" id="adoption-btn" data-action="click->show-dashboard#adoptions">
              <div class="card-info">
                <h5>Minhas adoções</h5>
              </div>
            </button>
          </div>

          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button py-2" id="animal-btn" data-action="click->show-dashboard#animals">
              <div class="card-info">
                <h5>Meus animais favoritos</h5>
              </div>
            </button>
          </div>
        </div>

        <div class="col">
          <div class="row mx-auto">

            <div class="col-sm">

              <div data-show-dashboard-target="profileElement" class="mt-0 mb-5 px-5">
                  <%= render 'users/show', adoption_form: @adoption_form %>
              </div>

              <div data-show-dashboard-target="adoptionElement" class="mt-0 mb-5 d-none">
                <% if @adoptions %>
                  <%= render 'adoptions/my_applications' %>
                <% else %>
                  <p>Você não tem nenhuma adoção.</p>
                <% end %>
              </div>

              <div data-show-dashboard-target="animalElement" class="mt-0 mb-5 d-none">
                <%= render 'bookmarks/index' %>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<% else %>
  <div class="container">
    <div data-controller="show-dashboard">
      <div class="row mx-auto">

        <div class="dash my-5 d-flex flex-row justify-content-between">
          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button-s py-2" id="profile-btn" data-action="click->show-dashboard#profile">
              <div class="card-info">
                <h5>Editar Perfil</h5>
              </div>
            </button>
          </div>

          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button py-2" id="adoption-btn" data-action="click->show-dashboard#adoptions">
              <div class="card-info">
                <h5>Interessados em adotar</h5>
              </div>
            </button>
          </div>

          <div class="col-sm dashboard-card text-center">
            <button class="caramel-button py-2" id="animal-btn" data-action="click->show-dashboard#animals">
              <div class="card-info">
                <h5>Meus animais cadastrados</h5>
              </div>
            </button>
          </div>

        </div>

        <div class="col">
          <div class="row mx-auto">

            <div class="col-sm">

              <div data-show-dashboard-target="profileElement" class="">
                <%= render 'users/show' %>
              </div>

              <div data-show-dashboard-target="adoptionElement" class="mt-0 mb-5 d-none">

                <% if @adoptions %>
                  <%= render 'adoptions/my_applications' %>
                <% else %>
                  <h3>Não há nenhum interessado em seus animais.</h3>
                <% end %>

              </div>

              <div data-show-dashboard-target="animalElement" class="mt-0 mb-5 d-none">
                <% if @animals %>
                  <%= render 'animals/my_animals' %>
                <% else %>
                  <h3>Não há nenhum animal cadastrado.</h3>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
