<!DOCTYPE html>
<html>
  <head>
    <title>Meu Caramelo - Transforme uma vida, adote um amigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.slim.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <div class="page-container">
      <div id="content-wrap">
        <% unless @hide_nav_footer %>
          <%= render 'shared/navbar' %>
        <% end %>
        <%= yield %>
      </div>

      <% unless @hide_nav_footer %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
